@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&family=Roboto+Slab:wght@300;500;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  background: linear-gradient(rgb(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), url("images/birthday.jpg");
  background-size: cover;
  background-position: center center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
  font-family: 'Roboto Slab', serif;
  margin: 0;
  color: #472616;
}

h1 {
  line-height: 6rem;
  text-align: center;
  font-weight: normal;
  font-size: 4rem;
  letter-spacing: 0.05rem;
  margin-top: -8rem;
}

.countdown-container {
  display: flex;
  flex-direction: row;
}

.big-text {
  font-weight: bold;
  font-size: 6rem;
  line-height: 1;
  margin: 0 2rem;
}

.countdown {
  text-align: center;
  margin: 1rem;
}

.countdown span {
  font-size: 1.5rem;
  font-family: "Poppins", sans-serif;
}

footer {
  position: relative;
  top: 200px;
  text-align: center;
  line-height: 1.2rem;
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  color: #472616;
}

footer a {
  text-decoration: underline;
  color: #472616;
}

footer a:hover {
  color: #9e532d;
}

@media (max-width: 600px) {
  h1 {
    margin-top: 10px;
    font-size: 1.9rem;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 50px;
    line-height: 3rem;
  }

  .big-text {
    font-size: 3rem;
  }

  .countdown-container {
    flex-direction: column;
  }

  .countdown {
    margin: 10px;
  }

  .countdown span {
    font-size: 1rem;
  }

  footer {
    bottom: 30px;
    font-size: 10px;
    letter-spacing: 0;
    top: 40px;
  }
}